$white: #fff;
$slate: #344955;
$dark-slate: #232f34;
$light-slate: #4a6572;
$dark-blue: #325b9a;
$bright-blue: #1d6be2;
$orange: #e96d00;

// Color Variables
// ---------------
// LibroCloud Brand colors
$color-boysenberry: #a90060;
$color-dark-blue: #1e22aa;
$color-dark-slate: #003345;
$color-librocloud-orange: #faa537;
$color-librocloud-slate: #34657f;
$color-librocloud-yellow: #ff9e1b;
$color-orange: #ff6a13;
$color-passport-blue: #00aed9;
$color-teal: #008578;
$color-teal-light: #01bba9;

// Accessible Notification Colour Codes
$color-error-dark: #83161a;
$color-error-light: #ffd1db;
$color-info-dark: #004370;
$color-info-light: #c3deee;
$color-success-dark: #214521;
$color-success-light: #b2dcb2;

// Grey and Neutral Colour Variants
$color-cool-grey-light: #e9eeef;
$color-grey-dark: #1b1b1b;
$color-grey-dark-medium: #3e3e3e;
$color-grey-medium: #909090;
$color-grey-light-medium: #c1c1c1;
$color-grey-light: #ededed;